
  <nav class="navbar sticky-top navbar-light navbar-expand-lg" id="fixed" >
    <a  href="#">Welcome <%= user.name %></a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="mx-auto collapse navbar-collapse" id="navbarSupportedContent">
    <a href="#month">Editors Pick of the Month</a>
    <a href="#genre">Genres</a>
    
    <a href="/">Home</a>
    
   </div>
   <a href="/users/logout" class="btn btn-secondary" style="background-color: rgba(0, 255, 255, 0.555);color: white;">Logout</a> 
</nav>




<section class="section-7 container-fluid p-0" id="#top" >
    <div class="cover">

      <div class="content text-center" id="today">
        <h1>See what we recommend you as 'Today's Special'</h1>
        
      </div>
    </div>
    <div class="container-fluid text-center">
      <div class="numbers d-flex flex-md-row flex-wrap justify-content-center">
        <div class="rect">
          <h3>The Chocolate Factory</h3>
          <p>Fiction</p>
        </div>
        <div class="rect">
         <h3>The Secret</h3>
          <p>Self- Care</p>
        </div>
        <div class="rect">
         <h3>The Jaguar's Jewel</h3>
          <p>Children</p>
        </div>
        <div class="rect">
          <h3>The Cold Blooded</h3>
          <p>Wattpad</p>
        </div>
      </div>
    </div>
  
  
  </section>
  
  
  
   


  <section class="section-10" id="month">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-12">
          <div class="pray">
            <img src="/images/kim.jpg" alt="Pray" class="" />
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="panel text-left">
            <h1 class="kim">KIM By Rudyard Kipling</h1>
            <div id="des"> 
              
              <p class="pt-4">
              Kim is a poor, white, English boy who speaks the local Indian dialect and was born in British, India (actually in present day Lahore, Pakistan). His father, Kimball O’Hara died when Kim was only three, but told him that “a Red Bull on a green field” would one day appear and befriend him. He has his birth certificate and a couple other papers sewn into a leather pouch which he carries around his neck. He has grown up very poor, a street kid with incredible smarts.
            </p>
            <p class="desc">
              His adventure begins when he meets Teshoo Lama, a lama monk who is on a search for a sacred river. Kim becomes his chela, sort of servant/companion. They set off on this journey to find the sacred and magic River of Healing which the lama is looking for and which will free him from this world into some higher spiritual space.
 </p></div>
           
          </div>
        </div>
      </div>
    </div>
  </section>


  <div class="d-flex justify-content-center ">
<nav class="navbar  navbar-expand-lg" id="genre" >
  
 
  <div class="justify-content-center ">
    <a href="#fiction">Fiction</a> 
    <a href="#phi">Philosophy</a> 
     <a href="#kids">kids</a> 
    <a href="#sci">Sci-Fiction</a> 
  
 
</nav>
  </div>


  
<div class="purchase text-center" id="fiction">
  <h1>Fiction</h1>
  <p>
    See what's trending this week
  </p>
  <div class="cards">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">Anna Karenina</h5>
          </div>
          <p class="card-text">
           Leo Tolsoy
          </p>
          <div class="pricing">
            <h1>4.3/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">To Kill a Mockingbird
            </h5>
          </div>
          <p class="card-text">
           Harper Lee
          </p>
          <div class="pricing">
            <h1>4.2/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Great Gatsby</h5>
          </div>
          <p class="card-text">
           F.Scott Fitzgerald's
          </p>
          <div class="pricing">
            <h1>4.4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

  
<div class="purchase text-center" id="phi">
  <h1>Philosophy</h1>
  <p>
    See what's trending this week  </p>
  <div class="cards">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Alchemist</h5>
          </div>
          <p class="card-text">
            Paulo Coelho
          </p>
          <div class="pricing">
            <h1>4.4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">Rich Dad, Poor Dad</h5>
          </div>
          <p class="card-text">
            Robert Kiyosaki
          </p>
          <div class="pricing">
            <h1>4.1/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Magic of Thinking Big</h5>
          </div>
          <p class="card-text">
            David J. Schwartz
          </p>
          <div class="pricing">
            <h1>4.2/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

  
<div class="purchase text-center" id="kids">
  <h1>Kids</h1>
  <p>
    See what's trending this week  </p>
  <div class="cards">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">Harry Potter and the Philosopher's Stone</h5>
          </div>
          <p class="card-text">
            J K Rowling.
          </p>
          <div class="pricing">
            <h1>4.4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Hunger Games</h5>
          </div>
          <p class="card-text">
            Suzanne Collins ,illustrated by Robert
          </p>
          <div class="pricing">
            <h1>4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The BFG</h5>
          </div>
          <p class="card-text">
            Roald Dahl, illustrated by Quentin Blake
          </p>
          <div class="pricing">
            <h1>4.2/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="purchase text-center" id="sci">
  <h1>Sci-Fiction</h1>
  <p>
    See what's trending this week   </p>
  <div class="cards">
    <div class="d-flex flex-row justify-content-center flex-wrap">
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Time Machine</h5>
          </div>
          <p class="card-text">
            H.G. Wells. 
          </p>
          <div class="pricing">
            <h1>4.4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">The Forever War</h5>
          </div>
          <p class="card-text">
            Joe Haldeman
          </p>
          <div class="pricing">
            <h1>4/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="title">
            <h5 class="card-title">A Canticle for Leibowitz</h5>
          </div>
          <p class="card-text">
            Walter M
          </p>
          <div class="pricing">
            <h1>4.2/5</h1>
            <a href="#" class="btn btn-dark px-5 py-2 primary-btn mb-5">Reviewed by Alice</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>

 
  
  
  
